<!DOCTYPE html>
<html>
<head>
    <title>Invoices</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Invoices</h1>
    <table>
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Date Payment</th>
                <th>Total Payment</th>
                <th>Order ID</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.invoice_id }}</td>
                    <td>{{ invoice.date_payment }}</td>
                    <td>{{ invoice.total_payment }}</td>
                    <td>{{ invoice.order.order_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
